/*Andria Vanezi 1235648*/
/*
*{
    margin : 0;
    padding : 0;
}*/

html{
    /* font shorthand 6 propteries  
        font-style - normal, italic, oblique
        font-variant - normal, small-caps
        font-weight  - lighter,  normal,  bolder 100 - 900
        font-size/line-height
        font-family
         Times, "Times New Roman", Georgia, serif;
        "Lucida Console", Courier, monospace;
           font : 20px Times, "Times New Roman", Georgia, serif;
    */
    /*absolute units px*/

    font-style : normal;
    font-variant: small-caps;
    font-weight : lighter;
    font-size : 20px;
    line-height: .5em;
    font-family : 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
    font : italic normal bold 20px/1.5 Times, "Times New Roman", Georgia, serif;
   

    color : blue; /* Set text color to blue */
}
body{

    width : 100%;
    max-width: 1250px;  
  
    margin : auto; /*margin set to auto for right and left center elemnts inside their parent*/
    padding : 0.25rem; /*rem releative to root element font size*/

}
p{
    color : red;
    font-size : 12px;
}
/*h1 element selector*/
h1{
    color : darkcyan;
}

/*class selector*/
.headings{
    color : brown;
}

/*multiple selector*/
video, iframe{
    width : 50%;
    height : 50%;

}

/*named colour*/
p{
    color : red;
}
/*6-HEX*/
p{
    color : #906618;
}
/*3-HEX*/
p{
   /* background-color: #fc9; /* same as #ffcc99 */
   /* color: #b58; /* same as #bb5588 */
}
/*RGB red green blue*/
p{
    color : rgb(110, 11, 93);
}
/*RGBA alpha*/
p{
   /* color : rgba(255, 99, 71, 0.9);*/
}
/*HSL hue saturation lightness*/
p{
   /* color : hsl(341, 50%, 50%);*/
}
/*HSLA alpha*/
p{
   /* color : hsla(9, 100%, 64%, 0.6);*/
}
/*Child combinator selector*/
section > p{

    font-variant: small-caps;
}
/*Descendant combinator selector*/
footer  p{

    font-size : 0.75rem;
}
/*Adjacent sibling slector*/
h2 + p {

    font-style: italic;
}
/*General sibling selector*/
h2 ~ p{

    color :rgb(66, 12, 66);
}
/*Multiple Elements and Selectors*/
h1, h2, .headings{
    font-variant : small-caps;
}
/*Multiple Elements and Selectors*/
header, footer{

   /* width : 50vw;
    height : 30vh;*/

    color: black;
    background-image: linear-gradient(lightpink 50%, rgb(241, 241, 174));


 /*  background-image: linear-gradient(to bottom right, red,orange,yellow,green,blue,indigo,violet);*/
   /* background-image: linear-gradient(orange 30%,white 40%, green 30%);
*/
}
.main-section{

    background-color: hsla(202, 17%, 64%, 0.6);
}
.main-section-figure {
    width : 80%;
    height : 80%;
    text-align : center;
    margin : auto;
}
.main-section-figure img{

    width : 80%;
    height : 80%;
    border-radius: 1.5rem;   
    padding : 1rem;
}
#absolute-path-image{

    background-color: hsla(291, 13%, 58%, 0.6);
    border : .25rem solid rgb(74, 39, 89);
    border-radius : 1rem; 
    color : rgb(74, 39, 89);
}
#relative-path-image{

    background-color: hsla(291, 13%, 58%, 0.6);
    border : .25rem solid rgb(245, 145, 205);
    border-radius : 1rem; 
    color :  rgb(51, 9, 34);
}

.main-section p{

    color : #22063c;
}
/*id selector*/
#header-heading{

    color :black;
}
div{

    margin-top : 1rem;
    margin-bottom : .5rem;
    margin-left : 1.5rem;
    margin-right : 2rem;

    margin : 1rem;
    margin : 1rem .5rem;
    margin : 1rem .5rem 1.5rem;
    margin : 1rem 2rem .5rem .5rem;

    padding-top : 1rem;
    padding-bottom : .5rem;
    padding-left : 1.5rem;
    padding-right : 2rem;

    padding : 1rem;
    padding : 1rem .5rem;
    padding : 1rem .5rem 1.5rem;
    padding : 1rem 2rem .5rem .5rem;

    border-style : dashed; 
    border-width : 0.25rem;
    border-color :rgb(110, 11, 93);

    /*sets the styleof the border*/
    border-top-style: solid;
    border-bottom-style : double;
    border-right-style : dotted;
    border-left-style : dashed;

     /*sets the width of the border*/
     border-top-width: 1.5rem;
     border-bottom-width : 1.25rem;
     border-right-width: .5rem;
     border-left-width : .25rem;

       /*sets the color of the border*/
    border-top-color: red;
    border-bottom-color : green;
    border-right-color: blue;
    border-left-color : orange ;

     /*border shorthand property width, style colour */ 
     border : 1rem solid green;
   
}
#quote{

    border : 1rem solid green;
    box-shadow : .25rem .25rem .25rem black;
}